* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
     font-family: Roboto;
}



/*phan than*/
.content {
    margin: 0px auto;
    padding: 0px auto;
    
}
.product {
    position: absoclute;
    top: 445px;
    right: 10px;
    width: 1355px;
    /* border: 1px solid black; */
    float: left;
    margin-right: 8px;
    margin-bottom: 9px;
    height: 1380px;
    margin: 0 auto;
}

.btncart {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    max-height: 360px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: arial;
    float: left;
}

.price {
    color: grey;
    font-size: 15px;
    text-align: center;
}

.btncart img {
    max-width: 200px;
    max-height: 250px;
    margin: auto;
    padding: auto;
}

.btncart h2 {
    font-size: 20px;
    text-align: center;
}

.btncart > a:hover {
	color: red;

}

.btncart > a {
	text-decoration: none;
	color: black;
	font-size: 20px;

}
/*footer */
footer{
	position: relative;
	width: 100%;
	height: auto;
	padding: 20px 100px;
	background: #111;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
@media screen and (max-width: 768px){
 .content{
    flex-direction: column;
    width: 50%;
 }
}